.tabs-md .tabbar {
    background: #131212 !important;
}

.tabs-md .tab-button[aria-selected=true] {
    color: #62de2f !important;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
    color: #62de2f !important;
}

.tabs-md .tab-button .tab-button-icon{
    color:#fff !important;
}

.tabs-md .tab-button {
    color:#fff !important;
}

.toolbar-background-md {
    border-color: #131212;
    background: #131212;
}

.toolbar-title-md {
    color: #ffffff;
    text-align: center;
}